<h2>About</h2>

<p>Currently studying in the US,but originally from Austria in beautiful but troubled Europe Lisa constantly finds herself in new places with no idea how she got there.That's how she got the idea to share these epsiodes of humorous nature with the world.</p>

<p>Alyssa was born and bred on the east coast, but currently resides in the beautiful Pacific Northwest. Her travels so far are nationwide and she hopes to explore beyond the US someday soon.</p>

{{outlet}}
