<header class = "jumbotron">
  <h1 id="homeHead">Road Rage</h1>
  <div id="navbar">
  <nav class="navbar navbar-inverse" style="background-color: #eb6864; border-color: #e53c37;">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
        <li><a style="color: black;" href="/">Home</a></li>
        <li><a style="color: black;" href="/about">About Us</a></li>
        <li><a style="color: black;" href="/contact">Contact Us</a></li>
      </ul>
      </div>
  </div>
</nav>
</div>
</header>

<div class="container">
  {{outlet}}
</div>
